* {
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}


/* =========================================================== */

/* @media (max-width: 1200px) */

@media (max-width: 1200px) {
    /* .header @media (max-width: 1200px) */

    body .header {
        position: absolute;
        padding-right: 0px;
    }  
    
    body .header__nav ul {
        margin-top: 24px;  
        padding: 0px;
    }
   
    
    body .header .header__logo img {
        width: 65%;
    }
    
    body .header__pena {
        margin-top: 10px;
    }

    body .header__nav ul {
        margin-top: 0px;  
        padding: 0px;
    }

    .header__search {
        padding: 30px 20px 0px 0px;
    }

    /* .nav @media (max-width: 1200px) */

    body .nav {
        left: -320px;
        transition: all .3s;
        display: flex;
    }

    body .nav.active {
        left:   0px;   
    }

    body .menu__toggle a i {   
        display: inline-block; 
    }

    body .menu__toggle {
        position: relative;
        padding-top: 25px;
    }

    body .icon__close a i {
        display: inline-block;
        font-size: 25px;
        color: #b4b4b4;
    } 

    /* .main @media (max-width: 1200px)*/

    body .main__section {
        display: flex;
        justify-content: space-between;
        background-size: cover;
        margin: 100px 0px 0px 0px;
        background-color: #f9f9f9;
    }

    body .main__content-scroll {
        height: calc(100vh - 100px)
    }
}

/* =========================================================== */

/* @media (max-width: 1000px) */

@media (max-width: 1000px) {

    /* .header @media (max-width: 1000px) */

    body .header {
        display: flex;
        justify-content: space-between;
    }

    body .icon__close a i {
        display: inline-block;
        font-size: 25px;
        color: #b4b4b4;
    }

    body .header__nav ul li a {
        font-size: 13px;
    }

    /* .nav @media (max-width: 1000px)*/

    body .nav {
        left: -320px;
        transition: all .3s;
        display: flex;
    }

    body .nav.active {
        left: 0;
    }

    /* .main @media (max-width: 1000px)*/

    body .main__img { 
        display: none;  
    }

    body .main__content-scroll {
        margin-top: 0px;
        padding-top: 35px;
    }
}


/* =========================================================== */

/* @media (max-width: 768px) */


@media (max-width: 768px) {

    /* .header @media (max-width: 768px)*/
    
    body .menu__toggle {
        position: relative;
        margin: 0px;
        padding: 7px 0px 0px 0px;
    }

    body .header {
        width: 100%;
        position: absolute;
        margin-right: 0px;
        display: flex;
        justify-content: space-between;
    }

    body .header .header__logo img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    body .header__pena {
        display: none;
        position: absolute;
    }

    body .header__search {
        padding: 10px 15px 0px 0px;
        margin: 0px;
    }

    /* .nav  @media (max-width: 768px)*/

    body .nav {
        left: -320px;
        transition: all .3s;
        display: flex;
    }

    
    body .nav__product { 
        font-size: 16px;
    }

    
    body .nav__product ul li {
        margin-bottom: 0px;
    }

    body .nav.active {
        left: 0;
    }

    body .icon__close a i {
        display: inline-block;
        font-size: 25px;
        color: #b4b4b4;
    }
    
    /* .main @media (max-width: 768px)*/

    body .main__section {
        margin: 90px 0px 0px 0px;
    }

    body .header .header__logo img {
        width: 50%;
    }

    body .main__title-mobile h2 {
        display: inline-block;
        text-align: center;
    }

    body .main__content-scroll {
        height: calc(100vh - 90px);
        margin: 0px 0px 0px 4px        ;
        padding: 0px;
    }

    body .main__precautions-content {
        margin-top: 61px;
        display: flex;
        flex-direction: column;
    }

    body .main__mountingfoam {
        padding: 0px 10px;
    }

    body .main__form {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }

    body .form__item {
        width: 100%;
        padding: 6px 20px;
    }

    body .form__item:nth-child(8) {
        margin: 0px 0px 0px 5px;
        width: 55%;
        padding: 10px 0px;
    }
    
    body .main__form button {
        margin: 0px 0px 0px 15px;
        padding: 13px 0;
        font-size: 18px;
    }

    body .form__character .main__form input,
    body .form__character .main__form input:hover {
        padding: 0 0px;
        margin: 0px;
    }

    body .main__footer-img {
        margin: 78px 0px 46px 0px;
        display: flex;
        flex-direction: column;
    }

    body .main__footer-img a img{
        margin: 10px auto;
        display: block;
    }

    body .header__precautions {
        margin-right: 0px;
    }
}

/* ====================================================== */
/* HEADER */

.header {
    padding: 15px 370px 15px 20px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    padding-right: 320px;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.2);
    z-index: 200;
}

.menu__toggle {
    position: absolute;
}

.menu__toggle a i {   
    color: #b4b4b4;
    font-size: 25px;
    display: none;
}

.icon__close a i {
    display: none;
}

.header__pena h1 {
    display: flex;
    display: block;
    margin: 0px;
    color: #333333;
    font-family: Ubuntu;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.53px;
}

.header__nav ul { 
    padding: 10px 0px 0px 0px;
}

.header__nav ul li {
    display: inline-block; 
    list-style: none;  
}

.header__nav ul li:nth-child(1) {
    margin-right: 15px;
}

.header__nav ul li a {
    padding-right: 3px;
    color: #cccccc;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px; 
    text-decoration: none;  
}

.header__search {
   padding: 30px 20px 0px 0px;
}

.header__search i{
    color: #b4b4b4;
    font-size: 26px;
}

/* The end header */
/* =======================================================
 
/* NAV */
/* nav >language, nav_menu, nav__product, menu_more, footer_nav */

.nav {
    width:320px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 50px 45px;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    z-index: 1000;
}

.nav ul li a {
    text-decoration: none;
    display: block;     
}

.nav ul{
    list-style: none;
    padding: 0px;
}   

/* language */

.language {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px
}

/* nav_menu */

.nav__menu  {
    letter-spacing: 0.13px;
}  

.nav__menu ul li {
    margin-bottom: 9px;
}


.nav__menu span {
    padding-bottom: 2px;
    color: #6699cc;
    border-bottom: 1px solid #ebebeb;
}

/* nav__product */

.nav__product {
    box-sizing: border-box; 
    font-size: 24px;
    font-weight: 800;
    opacity: 0.95;
    color: black;
    letter-spacing: 0.16px;
}

.nav__product span {
    padding-bottom: 2px;
    border-bottom: 1px solid #ebebeb;
    color: #000;
    position: relative;
    left: 0;
    transition: all .5s;
}

.nav__product ul li {
    margin-bottom: 20px;
}

.nav__product span:hover {
    border-bottom: 2px solid transparent;
    left: -10px;
}

.nav__product li:nth-child(1):hover span {
    background-color: #FFFF99;
}

.nav__product li:nth-child(2):hover span {
    background-color: #CCFF99;
}

.nav__product li:nth-child(3):hover span {
    background-color: #CCFFFF;
}

.nav__product li:nth-child(4):hover span {
    background-color: #6699FF;
}

.nav__product li:nth-child(5):hover span {
    background-color: #CCCCFF;
}

.nav__product li:nth-child(6):hover span {
    background-color: #FFCC99;
}

/* menu_more */

.menu_more ul li a {
    color: #666666;
}   

.menu_more {
    box-sizing: border-box;
    opacity: 0.85;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.13px;
}

.menu_more ul li {
    margin-bottom: 16px;
}

/* footer_nav >phone, mail, social*/

.footer_nav {
height: 86px;
}

/* phone */

.phone {
    margin-bottom: 7px;
    color: #353535;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 800;
}

/* mail */

.mail a{
    color: #3399cc;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

/* social */

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    width: 177px;
}

.social i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1.5px solid black;
}

/* The end NAV */
/* ======================================== */

/* MAIN */

.main__title-mobile h2 {   
    display: none;
}

.main__section {
    display: flex;
    justify-content: space-between;
    background-size: cover;
    margin: 110px 320px 0px 0px;
    background-color: #f9f9f9;
}

/* Scroll */

::-webkit-scrollbar-track {
    background-color: transparent;
    width: 1px;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #0d122b;
    border-radius: 5px;
    width: 7px;
}

/* main_img */

.main__img {  
    width: 70%;
}

.main__img img {
    display: block;
    margin: 78px auto;
}

/* .main__content-scroll */

.main__content-scroll {
    padding-top: 45px;
    height: calc(100vh - 110px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    overflow-x: hidden;
}

.main__—Åharacter-header {
    background-color:#e6e6e6;;
    padding: 15px 30px;
    font-size: 16px;
    color: #333333;
    font-family: Ubuntu;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.26px;    
}

 .main__character-item table {
    width: 100%;
    border-collapse: collapse; 
    /* border: 1px solid #cccccc; */
}

.main__character-item td, .main__character-item tr {
    padding: 19px 5px;
    border: 1px solid #cccccc;
}

/* main__precautions-content */

.main__precautions-content {
    margin-top: 61px;
    display: flex;
    justify-content: space-around;
}

/* .header__precautions-wrapper */

.header__precautions-wrapper {
    display: flex;
    flex-direction: column;
}

.header__precautions {
    background-color:#e6e6e6;;
    padding: 15px 30px;
    font-size: 16px;
    color: #333333;
    font-family: Ubuntu;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
    margin-right: 22px;
}

.precautions__item li, .conditions__item li {
    color: #333333;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.13px;
    padding: 18px 13px;
}

/* header__conditions-wrapper */

.header__conditions {
    background-color:#e6e6e6;;
    padding: 15px 30px;
    font-size: 16px;
    color: #333333;
    font-family: Ubuntu;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.26px; 
}

.main__mountingfoam {
    margin-top: 71px;
    color: #333333;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Ubuntu - Bold";
    letter-spacing: 0.13px;
    font-family: Ubuntu;
    letter-spacing: 0.13px;
}

/* form */

.form__character {
    margin: 94px 5px 0px 5px;
}

.header__form {
    padding: 18px 0px 18px 42px;
    border-radius: 5px;
    background-color: #404040;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.form__item {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 20px 36px 20px 36px;
}

.form__item:nth-child(8) {
    padding: 10px 36 0px 0px;
    width: 24%;
}

.main__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: -7px 26px 31px 5px rgba(3, 6, 12, 0.07);
}

.main__form button {
    margin-top:20px;
    padding: 13px 0;
    font-size: 16px;
    color: #fff;
    background: #ff6e3d;
    border: inherit;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.form .main__form input:focus {
    border-bottom: 2px solid #ff6e3d;
}

.form__character .main__form input,
.form__character .main__form input:hover {
    margin-top:3px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    padding: 0 40px 0 0;
    outline: none;
}

.form__character .main__form input:focus {
  border-bottom: 2px solid #ff6e3d;
}


/* main__footer-img */

.main__footer-img {
    margin: 78px 0px 46px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__footer-img a img {
   padding: 10px 15px;
   align-items: flex-start; 
}

/* main__copyrighted */

.main__copyrighted p {
    display: block;
    text-align: center;
    margin: 35px 0px 38px 0px;
    color: #999999;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.22px;
}






