* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/main-bg.jpg) no-repeat center top fixed;
    background-size: cover;
}   
/* =========================================================== */

/* @media (max-width: 1200px) */    

@media (max-width: 1200px) {
/* .header @media (max-width: 1200px) */

body .header {
    padding: 15px 20px 15px 20px;
}

/* .nav @media (max-width: 1200px) */

body .nav {
    display: none;
}

body .nav .icon__close a i {
    text-decoration: none;
    display: block;
}

body .nav .icon__close a{
    text-decoration: none;
}

/* .main @media (max-width: 1200px)*/

body .main {
    padding: 24% 2% 0 2%;
}

}
/* =========================================================== */

/* @media (max-width: 1000px) */

@media (max-width: 1000px) {

/* .header @media (max-width: 1000px) */


/* .nav @media (max-width: 1000px)*/

body .icon__close a i {
    display: block;
}

body .nav .icon__close a{
    text-decoration: none;
}

/* .main @media (max-width: 1000px)*/
}


/* =========================================================== */

/* @media (max-width: 768px) */


@media (max-width: 768px) {
body {
    display: flex;
    flex-direction: column;
}

/* .header @media (max-width: 768px)*/

body .header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

body .header__logo img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* .nav  @media (max-width: 768px)*/

body .nav .icon__close a{
    text-decoration: none;
}

/* .main @media (max-width: 768px)*/

body .wrapper__slider {
    flex-direction: column;
}

body .slider__discription {
    width: 100%;
}

body .button__form {
    margin: 0 auto;
}

body .slider__img {
    padding-top: 10%;
    width: 100%;
}

body .slider__nav {
    flex-direction: column;
    margin: 0 auto;
}

body .slider__nav-item {
    width: 100%;
    padding: 5% 2% 0% 2%;
    border: none;
    border-right: 0px solid green;
}

body .slider__nav-item p {
   padding-top: 2%;
}

body .slider__nav-item:nth-child(1),
body .slider__nav-item:nth-child(2) {
    border-right: none;
}

}
/* =========================================================== */

/* Header */


.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 200;
    padding: 15px 370px 15px 20px;
}

.header__search {
    padding-top: 10px;
}

.header__search i{
    color: #868383;
    font-size: 26px;
}

/* nav >language, nav_menu, nav__product, menu_more, footer_nav */

.nav {
    width:320px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 50px 45px;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    z-index: 1000;
}

.nav .icon__close a i {
    text-decoration: none;
    display: none;
}

.nav ul li a {
    text-decoration: none;
    display: block;     
}

.nav ul{
    list-style: none;
    padding: 0px;
}   

/* language */

.language {
    display: flex;
    position: absolute;
    top: 25px;
    right: 50px
}

/* nav_menu */

.nav__menu  {
    letter-spacing: 0.13px;
}  

.nav__menu ul li {
    margin-bottom: 9px;
}


.nav__menu span {
    padding-bottom: 2px;
    color: #6699cc;
    border-bottom: 1px solid #ebebeb;
}

/* nav__product */

.nav__product {
    box-sizing: border-box; 
    font-size: 24px;
    font-weight: 800;
    opacity: 0.95;
    color: black;
    letter-spacing: 0.16px;
}

.nav__product span {
    padding-bottom: 2px;
    border-bottom: 1px solid #ebebeb;
    color: #000;
    position: relative;
    left: 0;
    transition: all .5s;
}

.nav__product ul li {
    margin-bottom: 20px;
}

.nav__product span:hover {
    border-bottom: 2px solid transparent;
    left: -10px;
}

.nav__product li:nth-child(1):hover span {
    background-color: #FFFF99;
}

.nav__product li:nth-child(2):hover span {
    background-color: #CCFF99;
}

.nav__product li:nth-child(3):hover span {
    background-color: #CCFFFF;
}

.nav__product li:nth-child(4):hover span {
    background-color: #6699FF;
}

.nav__product li:nth-child(5):hover span {
    background-color: #CCCCFF;
}

.nav__product li:nth-child(6):hover span {
    background-color: #FFCC99;
}

/* menu_more */

.menu_more ul li a {
    color: #666666;
}   

.menu_more {
    box-sizing: border-box;
    opacity: 0.85;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.13px;
}

.menu_more ul li {
    margin-bottom: 16px;
}

/* footer_nav >phone, mail, social*/

.footer_nav {
height: 86px;
}

/* phone */

.phone {
    margin-bottom: 7px;
    color: #353535;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 800;
}

/* mail */

.mail a{
    color: #3399cc;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

/* social */

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    width: 177px;
}

.social i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1.5px solid black;
}
/* THE END NAV */
/* ================================================ */

/* MAIN */

.main {
    padding: 250px 320px 0px 75px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}

.slider__item {
    display: flex;
    align-items: center;
}

.wrapper__slider {   
    display: flex;
    justify-content: space-between;
}

.slider__discription {
    padding-top: 5%;   
    width: 60%;
    display: flex;
    flex-direction: column;
}

.slider__discription .sub-title {
    opacity: 0.85;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.14px;
}

.slider__discription .title {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 0.44px;
}

.slider__discription .description {
    /* width: 727px; */
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.13px;
    padding-left: 24px;
    border-left: 2px solid #333333;
}

.slider__discription .button__form {
    width: 50%  ;
    margin-top:   35px;
    padding: 13px 0;
    font-size: 16px;    
    background: #ff6e3d;
    border: inherit;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(148,151,155,.65);
}

.slider__discription .button__form a {
    color: #fff;
    text-decoration: none;
}

.slider__discription .button__form:active {   
    background: #f17247;
}

.slider__img img    {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.slider__img {
    width: 40%;
}

.slider__nav { 
    padding-top: 12%;
    display: flex;
    justify-content: space-between;
} 

.slider__nav p {   
    color: #767676;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.slider__nav-item:nth-child(1),
.slider__nav-item:nth-child(2) {
    border-right: 2px solid #767676;
}

.slider-nav h3 {
    color: #767676;
    font-size: 14px;
}

.slider-nav-first {
    padding-right: 159px;
}

.slider__nav-item {
   width: 30%;
   margin-bottom: 10px;
}





